@import "valiable";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

html body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.6;
}

@import "header";
@import "main";
@import "footer";
